<div class="product-card border p-5 shadow-md">
  <!-- Product Image -->
  <div class="relative border rounded-xl overflow-hidden">
    <img 
      src="{{ card_product.variants.first.image | img_url: 'medium' }}" 
      alt="{{ card_product.title }}" 
      class="image w-full h-96 object-contain"
      id="{{ card_product.variants.first.id }}"
      onmouseenter="onMouseEnter(this)"
      onmouseleave="onMouseLeave(this)"
    >
    <!-- Sale Badge -->
    {% if card_product.compare_at_price > card_product.price %}
      <div class="text-red-700 font-semibold text-sm px-4 py-1 border border-red-700 rounded-full absolute top-5 left-5">
        On Sale!
      </div>
  {% endif %}
  </div>

  <!-- Variant Swatches -->
  <div class="variant-swatches mt-4 flex items-center space-x-2">
    {% for variant in card_product.variants %}
      <button id="{{ variant.id }}" 
        class="w-8 h-8 rounded-full box-content border-white {% if variant == card_product.variants.first %}border-2{% else %}border-0{% endif %}" 
        style="background-color: {{ variant.option1 | escape }}; outline: {{ variant.option1 | escape }} solid 1px;"
        onclick="selectVariant(
          '{{ card_product.id }}',
          '{{ variant.id }}',
          '{{ variant.featured_image | img_url: 'medium' }}',
          '{{ variant.price | money }}',
          '{{ variant.compare_at_price | money }}',
          this
        )">
      </button>
    {% endfor %}
  </div>

  <!-- Product Details -->
  <div class="mt-3">
    <!-- Brand -->
    <p class="text-neutral-900 text-sm">{{ card_product.vendor }}</p>
    <!-- Product Title -->
    <h3 class="font-bold text-lg text-cyan-900">
      <a href="{{ card_product.url }}">{{ card_product.title }}</a>
    </h3>
    <!-- Pricing -->
    <div id="product-price-{{ card_product.id }}" class="flex">
      {% if card_product.compare_at_price > card_product.price %}
        <span class="text-gray-500 line-through text-lg">{{ card_product.compare_at_price | money }}</span>
        <span class="text-red-600 font-bold text-lg ml-2">{{ card_product.price | money }}</span>
      {% else %}
        <span class="text-gray-800 font-bold text-lg">{{ card_product.price | money }}</span>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function selectVariant(productId, variantId, imageUrl, price, compareAtPrice, button) {
    // Find the current product card
    const productCard = button.closest('.product-card');

    // Find the selected variant
    productCard.querySelectorAll('.variant-swatches button')
      .forEach(btn => {
        btn.classList.remove('border-2');
        if (btn.id === variantId) {
          btn.classList.add('border-2');
        }
      })

    // Find the image element and update the source
    const productImage = productCard.querySelector('.image');
    if (productImage) {
      productImage.src = imageUrl;
      productImage.id = variantId;
    }

    const productPrice = document.querySelector(`#product-price-${productId}`);
    if (productPrice) {
      if (compareAtPrice && compareAtPrice !== 'null') {
        productPrice.innerHTML = `
          <span class="text-gray-500 line-through text-lg">${compareAtPrice}</span>
          <span class="text-red-600 font-bold text-lg ml-2">${price}</span>
        `;
      } else {
        productPrice.innerHTML = `<span class="text-gray-800 font-bold text-lg">${price}</span>`;
      }
    }
  }

  function onMouseEnter(element) {
    const productCard = element.closest('.product-card');
    const image = productCard.querySelector('.image');

    const product = JSON.parse('{{ card_product | json }}');
    const selectedVariant = product.variants.find((variant) => `${variant.id}` === element.id);
    image.src = selectedVariant.featured_image.src.replace('.png', '-secondary.png');
  }

  function onMouseLeave(element) {
    const productCard = element.closest('.product-card');
    const image = productCard.querySelector('.image');

    const product = JSON.parse('{{ card_product | json }}');
    const selectedVariant = product.variants.find((variant) => `${variant.id}` === element.id);
    image.src = selectedVariant.featured_image.src;
  }
</script>
